/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно,
чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  width: 100%;
  max-inline-size: 700px;
  margin: auto;
  font-family: var(--font-main), sans-serif;
  font-size: 18px;
  color: var(--color-accent);
  background-color: var(--color-bg);
  background-image: var(--gradient-bg);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-weight-normal);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  margin: 100px 0;
  text-transform: uppercase;
  border: 2px solid var(--color-accent);
  background-color: var(--color-bg);
}

.header-logo {
  margin-block-start: 136px;
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/* Header: меню выбора цветовой темы  */

.header__theme-menu {
  margin-inline-start: 20px;
  margin-block-end: 25px;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 0;
}

.theme-menu__item {
  margin: 0;
  padding: 0;
}

.theme-menu__button {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  inset: 100% 0 0;
  width: 100%;
  height: 2px;
  opacity: 0.6;
  background-color: var(--color-accent);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  animation: animation-arrow 0.5s ease-in-out infinite alternate;
}

/* Основной контент */

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-accent);
  background-color: var(--color-bg);
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-bold);
}

.card__image-wrapper {
  position: relative;
  display: flex;
  justify-content: end;
}

.image__label {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  color: var(--color-accent);
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--color-shadow),
    0 1px var(--color-shadow),
    1px 0 var(--color-shadow),
    0 -1px var(--color-shadow);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--color-shadow)) or (-webkit-text-stroke: 1px var(--color-shadow))
) {

  .image__label {
    -webkit-text-stroke: 1px var(--color-shadow);
    text-stroke: 1px var(--color-shadow);
    text-shadow: none;
  }
}

.card__image {
  width: 100%;
  border-block-start: 2px solid var(--color-accent);
  border-block-end: 2px solid var(--color-accent);
  object-fit: contain;
  object-position: center;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-block: 25px;
}

.card__text {
  margin-inline: 25px;
}

/* 8 фильтров */

.image-filter-brightness {
  filter: brightness(200%);
}

.image-filter-contrast {
  filter: contrast(20%);
}

.image-filter-blur {
  filter: blur(0.3rem);
}

.image-filter-opacity {
  filter: opacity(0.8);
}

.image-filter-grayscale {
  filter: grayscale(0.8);
}

.image-filter-saturate {
  filter: saturate(158%);
}

.image-filter-sepia {
  filter: sepia(80%);
}

.image-filter-multi {
  filter: sepia(80%) blur(0.3rem) brightness(200%);;
}

/* Кнопки */

.card__buttons {
  display: flex;
  align-self: end;
  margin: 0 25px 25px 0;
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
}

.action__button {
  position: relative;
  border: none;
  outline: 2px solid var(--color-accent);
  color: var(--color-accent-button);
  line-height: 90%;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button {
  width: 130px;
  padding-block: 12px;
}

.save__button {
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  padding: 15px;
  background-color: var(--color-bg);
  flex-shrink: 0;
  margin: 3px auto 100px;
}

.button__text,
.floppy-icon {
  mix-blend-mode: difference;
}

.decorated-button {
  transition: box-shadow 0.3s ease;
}

.decorated-button::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-accent-button);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
}

.decorated-button:hover::after {
  transform: scaleX(1);
}

.decorated-button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-accent);
  outline: none;
}

/* Кнопка - Сердце */

.card__icon-button {
  margin: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--color-accent);
}

/* всплывающее окно диалога */

.dialog {
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
}

.dialog[open] {
  display: grid;
  grid-template-columns: 40px auto;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  padding: 30px;
  color: var(--color-accent);
  background-color: var(--color-bg);
  filter: none;
}

.dialog__floppy {
  grid-column: 1/2;
  fill: var(--color-accent);
}

.dialog__text {
  grid-column: 2/3;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__close {
  grid-column: 1/3;
}

.dialog__button {
  width: 100%;
  padding-block: 12px;
  cursor: pointer;
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

/* Кнопка с дискетой */

.floppy-icon {
  inline-size: 21px;
  block-size: 21px;
}

@media (width <= 375px) {

  .save__button {
    flex-direction: column;
  }

  .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .header-logo {
    margin-block-start: 120px;
  }

  .dialog[open] {
    padding: 30px 42px;
  }
}