/* Основная тема - светлая */

:root {
  --font-main: 'Inter-Variable', sans-serif;
  --font-accent: 'PressStart2P', fantasy;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size: 18px;

  --color-bg: #fff;
  --color-accent: rgb(0 0 0);
  --color-accent-transparent: rgb(0 0 0 / 0.6);
  --color-accent-button: #fff;
  --color-shadow: rgb(255 255 255 / 0.5);
  --color-heart: #f00;

  --gradient-bg:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}